/* about-me.html css file */
.story{
  
}

.school{
  background-image: url("https://bobsegarini.files.wordpress.com/2011/11/jaimie-school.jpg");
  height: 300px;
  background-repeat: no-repeat;	
}